
.slide-right {
width: 100%;
overflow: hidden;
margin-left: 500px;
margin-bottom:-25px;
max-width:   500px
}
.slide-right h6 {
animation: 2s slide-right;
animation-delay: 0s;
}
@keyframes slide-right {
from {
margin-top: -100px;
}

to {
margin-top: 0%;
}
}

.cards{
    margin-left: 60px;
    margin-right: 60px; 
}

 @media screen and (max-device-width: 600px){
    .up{
        margin-top: 200px;
    }
} 



.jhead h1 {
    background-image: linear-gradient(#F52887, #7535ec, #056608);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family:Lucida Calligraphy;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0px 4px 10px rgba(61, 61, 50, 0.8)
}

    .jhead h1 {
    animation: 3s slide-right;
    animation-delay: 0s;
    }

td {
        border: solid 1px black;
    }
    
.content{
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.btn{
    margin-left: 20px;
    margin-right: 10px;
    border-width: 3px;
    width:130px;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn:hover{
    color: aliceblue;
}


.order{
    margin-left: 450px;
    margin-top: 50px;
}

.order input {
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
}

.order select {
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
}

.order input:focus {
    -moz-box-shadow: 0px 0px 10px rgb(55, 0, 128);
    -webkit-box-shadow: 0px 0px 10px rgb(196, 196, 3);
    box-shadow: 0px 0px 10px rgb(87, 0, 128);
    }

.order select:focus {
    -moz-box-shadow: 0px 0px 10px rgb(55, 0, 128);
    -webkit-box-shadow: 0px 0px 10px rgb(196, 196, 3);
    box-shadow: 0px 0px 10px rgb(87, 0, 128);
    }
    
.order button{
    background-color: #f3efd8;
    border-radius: 20px;
    width: 120px;
}    

.order button:hover{
    background-color: #ead8f3;
    border-radius: 20px;
    width: 120px;
    -moz-box-shadow: 0px 0px 10px rgb(85, 53, 126);
    -webkit-box-shadow: 0px 0px 10px rgb(199, 199, 87);
    box-shadow: 0px 0px 10px rgb(99, 50, 122);
}    

.order1{
    margin-left: 350px;
    margin-top: 50px;
}

.order1 input {
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
}

.order1 input:focus {
    -moz-box-shadow: 0px 0px 10px rgb(55, 0, 128);
    -webkit-box-shadow: 0px 0px 10px rgb(196, 196, 3);
    box-shadow: 0px 0px 10px rgb(87, 0, 128);
    }
    
.order1 button{
    background-color: #f3efd8;
    border-radius: 20px;
    width: 120px;
}    

.order1 button:hover{
    background-color: #ead8f3;
    border-radius: 20px;
    width: 120px;
    -moz-box-shadow: 0px 0px 10px rgb(85, 53, 126);
    -webkit-box-shadow: 0px 0px 10px rgb(199, 199, 87);
    box-shadow: 0px 0px 10px rgb(99, 50, 122);
}    

.bill{
    font-size: 30px;
    font-weight: 400;
}

.bill label{
    align-items: center;
    font-size: 30xp;
    font-family: Lucida Calliography;
    margin-left: 420px;
}

.bill input{
    width: 370px;
    border-width: 2px;
    border-radius: 7px;
    margin-left: 450px;
    height: 40px;
}

.bill input:focus {
    -moz-box-shadow: 0px 0px 10px rgb(55, 0, 128);
    -webkit-box-shadow: 0px 0px 10px rgb(3, 116, 196);
    box-shadow: 0px 0px 10px rgb(9, 0, 128);
    }

.bill input::placeholder {
    font-size: 26px;
    font-family: lucida calliography;
    }    

.hide {
    display: none;
  }

.bubbly-button{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    margin-left: 50px; 
    background-color: #82CAFF;
    border-color: #00BFFF;
}

.bubbly-button:hover{
    background-image: linear-gradient(to bottom right, #82CAFF, #00BFFF);
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 10px rgb(100, 145, 235);
    -webkit-box-shadow: 0px 0px 10px rgb(45, 17, 169);
    box-shadow: 0px 0px 10px rgb(104, 152, 246);
}

.bubbly-button:focus{
    background-color: #82CAFF;
}

.payment {
    margin-left: 350px;
    width: 35rem;
    height: 35rem;
    box-shadow: 0 0 1rem 0 rgba(16, 2, 2, 0.899); 
    border-radius: 55px;
    background-color: rgba(200, 255, 255, .15);
    backdrop-filter: blur(5px);
  }

  .payment input {
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 50px;
    height: 40px;
}

.payment input:focus {
    -moz-box-shadow: 0px 0px 10px rgb(55, 0, 128);
    -webkit-box-shadow: 0px 0px 10px rgb(3, 116, 196);
    box-shadow: 0px 0px 10px rgb(9, 0, 128);
    }

.payment button{
    width:440px;
    background-color: rgb(38, 142, 38);
    align-items: center;
    height: 40px;
    border: none;
    color: #f3efd8;
    border-radius: 5px;
    font-size: 20px;
    font-family: Lucida Calliography;
    margin-left: 60px;
}    

.about{
    background-color: #6f42c1;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}